## 4.5 Tuples and tables

In Python, a tuple is an immutable and possibly heterogeneous sequence of items,
which can be of any type, including other tuples.
This allows for nested tuples, which we can use to represent tabular data.

### 4.5.1 Literals and operations

Tuples are written within parentheses, with items separated by commas.
For example `()` is the empty tuple and `(1, (2, 3), True)` is a heterogeneous
tuple with three items: an integer, a tuple with two integers and a Boolean.

Python's `tuple` data type supports the same operations as `str`,
with the same notation, so a few brief examples suffice.

In [1]:
len( (1, (2, 3), True) )

3

In [2]:
(1, (2, 3), True)[1]    # indexing: 2nd item is a pair of integers

(2, 3)

In [3]:
(1, 2, 3) < (1, 4, 3)   # comparison: item by item

True

In [4]:
(1, (2, 3), True)[1:3]  # slicing: 2nd to 3rd items

((2, 3), True)

In [5]:
min((3, 4, -2, 7, 9))   # extra parentheses for the tuple

-2

For tuples, the `in` operator checks for membership,
not for a substring like with strings.

In [6]:
2 in (1, 2, 3)          # (1, 2, 3) does have member 2

True

In [7]:
(1, 2) in (1, 2, 3)     # (1, 2, 3) doesn't have member (1, 2)

False

In [8]:
(1, 2) in ((1, 2), 3)   # ((1, 2), 3) does have member (1, 2)

True

The `tuple` constructor creates a tuple from another sequence.

In [9]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [10]:
tuple(range(1, 4))

(1, 2, 3)

As tuples are sequences, we can directly iterate over them:

In [11]:
for item in (1, (2, 3), True):
    print(item)

1
(2, 3)
True

### 4.5.2 Mistakes

Forgetting a comma between items, or forgetting an item between two commas,
usually leads to a syntax error. However, consider this example:

In [12]:
(1 (2, 3), True)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-1-5b1a427d1ca7>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  (1 (2, 3), True)

TypeError: 'int' object is not callable

This strange type error is due to the missing comma after the first item.
The interpreter thinks that `1` is meant to be a function
with arguments `(2, 3)` and duly reports that we can't call an integer,
only functions.

The error messages of most programming language interpreters are sometimes
baffling. They can misguide us in finding the error's source.
I've been making errors on purpose to show various 'diseases' (errors) and their corresponding 'symptoms' (messages). I recommend you do the same.

<div class="alert alert-warning">
<strong>Note:</strong> When learning a programming language, make deliberate mistakes in your code to
associate error messages with their causes.
</div>

A single item within parentheses is a normal expression
with redundant parentheses, not a tuple with a single item.
To let the interpreter know we mean a tuple, we must add a comma.

In [13]:
(3) + (4)       # arithmetic expression with redundant parentheses

7

In [14]:
(3,) + (4,)     # concatenation of tuples of length 1

(3, 4)

Applying the `tuple` constructor to a Boolean or number results in a type error,
because it can only be applied to sequences.

In [15]:
tuple(True)

TypeError: 'bool' object is not iterable

The error message states that Boolean values can't be iterated over and so
it's not possible to create a tuple.

### 4.5.3 Tables

Data is often arranged in tabular form. We can use tuples to represent tables.
A table is a sequence of rows, each row being a sequence of cells.
Here's a small selection of board games I enjoy, with one game per row.

In [16]:
games_by_row = (                        # each item is a row
    ('Board game', 'Rating', 'Owned'),  # header row
    ('Power Grid',      10 ,   True ),  # first data row
    (   'Vintage',       8 ,   True ),
    (  'Pandemic',       9 ,  False )
)

The header row is a homogeneous tuple of strings;
the other rows are heterogeneous tuples of strings, integers and Booleans.

I formatted the tuples like tables, with right-aligned values,
to better show the structure of the nested tuples. But you don't have to:
the interpreter doesn't give a toss about spacing around tuple items.

In [17]:
games_by_row

(('Board game', 'Rating', 'Owned'),
 ('Power Grid', 10, True),
 ('Vintage', 8, True),
 ('Pandemic', 9, False))

To access a single cell's value, we must first index the row and
then the column within that row.
Let's suppose we want to check whether I own Power Grid.

In [18]:
row_index = 1                   # Power Grid is in the 2nd row
column_index = 2                # ownership is in the 3rd column
row = games_by_row[row_index]
cell = row[column_index]
cell

True

The first indexing operation selects a row of the table;
the second indexing operation selects a cell of that row.
The following line is equivalent to the above step-by-step process.

In [19]:
games_by_row[1][2]  # 2nd row, 3rd column

True

Indexing is left-associative:
each operation takes the result produced by the previous operation.
The next example shows that the order of indices matters.

In [20]:
games_by_row[2][1]  # 3rd row (Vintage), 2nd column (Rating)

8

The first index always selects a row; the second index always selects a column.

The header row is at index zero, so each game is at its 'natural' index:
the first game is at index&nbsp;1, the second game is at index&nbsp;2, etc.
However, it's easy to get confused about which index corresponds to which column
for wide tables. Giving them memorable names helps.

In [21]:
GAME = 0
RATING = 1
OWNED = 2

In [22]:
games_by_row[1][OWNED]

True

In [23]:
games_by_row[2][RATING]

8

I can hear you exclaim 'Variable names should be in lowercase!'
The convention in Python is that if a variable name is all in uppercase,
then the value should not be further changed:
the variable should be treated like a **constant**.
Other programming languages have proper constants,
i.e. a second assignment to the constant raises an error,
but Python has constants by convention.

#### Exercise 4.5.1

We can organise the data differently, with one game per column.

In [24]:
games_by_column = (                     # each item is a column
    ('Board game', 'Power Grid', 'Vintage', 'Pandemic'),
    ('Rating',              10 ,        8 ,         9 ),
    ('Owned',             True ,     True ,     False )
)

Write an expression that indexes this table to retrieve my rating for Pandemic.
Use constants. The expression should evaluate to `9`.

In [25]:
# replace by your expression

[Hint](../31_Hints/Hints_04_5_01.ipynb)
[Answer](../32_Answers/Answers_04_5_01.ipynb)

### 4.5.4 Iterating

Tabular data is processed with iterative algorithms that
go through one or more rows or columns, depending on the problem.
For example, the following algorithm computes the mean rating of the games.

<div class="alert alert-info">
<strong>Info:</strong> MU123 Unit&nbsp;4 Section&nbsp;3.2 and
TM112 Block&nbsp;2 Section&nbsp;2.4.2 introduce the mean and how to compute it.
</div>

In [26]:
total = 0
count = 0
for row in range(1, len(games_by_row)):    # skip header row
    count = count + 1
    total = total + games_by_row[row][RATING]
print(total / count)

9.0

This algorithm works for any number of games in the table,
as long as there's at least one, to avoid division by zero.

A slightly simpler and faster algorithm computes the number of games
instead of counting them one by one.

In [27]:
total = 0
for row in range(1, len(games_by_row)):    # skip header row
    total = total + games_by_row[row][RATING]
print(total / (len(games_by_row) - 1))

9.0

To go through all cells of a table, we need nested loops:
one to iterate over the rows and the other to iterate over the columns.

In [28]:
for row in games_by_row:
    for cell in row:
        print(cell)

Board game
Rating
Owned
Power Grid
10
True
Vintage
8
True
Pandemic
9
False

To iterate first by column and then by row requires indexing:

In [29]:
for column in range(len(games_by_row[0])):
    for row in range(len(games_by_row)):
        print(games_by_row[row][column])

Board game
Power Grid
Vintage
Pandemic
Rating
10
8
9
Owned
True
True
False

<div class="alert alert-info">
<strong>Info:</strong> TM351 introduces more sophisticated data types to
represent and analyse tabular data.
</div>

#### Exercise 4.5.2

The next tuple represents the state of a Noughts and Crosses game after
three turns of each player.
(You don't need to know the game to solve this exercise.)

In [30]:
tic_tac_toe = (
    ('X', 'O', 'X'),
    (' ', 'X', ' '),
    ('O', ' ', 'O')
)

The number of empty spaces (character `' '`) can be used to determine whose
turn it is next or whether the game has ended.
Write an algorithm in Python that displays the number of empty spaces
for a board represented in the variable `tic_tac_toe`.
You should obtain the value `3` for the board above. Change the tuple and
rerun both cells to test with another board configuration.

In [31]:
# replace by your code

[Hint](../31_Hints/Hints_04_5_02.ipynb)
[Answer](../32_Answers/Answers_04_5_02.ipynb)

#### Exercise 4.5.3

This exercise is about how to make use of the data types you learned so far to
represent some data in a way that eases the implementation of some operations.

Moksha Patam, better known as Snakes and Ladders, is an ancient Indian board
game, played usually on a 10 × 10 board, with positions numbered from 1 to 100,
and some snakes and ladders connecting pairs of positions.

A player moves their pawn forward by rolling a die. If the pawn lands on the
bottom of a ladder, it immediately moves forward to the position at the top
of the ladder. If it lands on the head of a snake, it immediately moves backward
to the position at the tail of the snake. Then it's the next player's turn. The
first player to reach the position 100 (which has no snake head) wins.

How would you represent a board and its configuration of snakes and ladders
with tuples? Do you have to represent the board as a table, with nested tuples?
Assuming that the current position of each pawn is in a separate variable,
how would the position be represented?

Devise a representation for the board and pawn positions that
makes it easy to implement the movement of pawns.

_Write your answer here._

[Hint](../31_Hints/Hints_04_5_03.ipynb)
[Answer](../32_Answers/Answers_04_5_03.ipynb)

⟵ [Previous section](04_4_search.ipynb) | [Up](04-introduction.ipynb) | [Next section](04_6_lists.ipynb) ⟶